<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="appiumSampleProject">
  <test name="appiumSampleProject">
    <classes>
    	<class name="mainPackage.LoginPage"></class>
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->